@import url(https://fonts.googleapis.com/css?family=Quicksand);

body {
	width: 100%;
	background-image: url(../images/src/test-image.jpg);
	background-size: contain;
	font-family: Quicksand ;
}

h1, h2, h3, h4, h5, h6 {
	padding: 14px 0;
}

@import 'socialfold';